# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Simple Chat Bot with Java/*
!/Simple Chat Bot with Java/task/
/Simple Chat Bot with Java/task/*
!/Simple Chat Bot with Java/task/src

# Project exclude paths
/Topics/Comparing values. Relational operators/Check the sum/out/
/Topics/Comparing values. Relational operators/Check the sum/out/production/classes/
/Topics/Conditional statement/Healthy sleep/out/
/Topics/Conditional statement/Healthy sleep/out/production/classes/
/Topics/For-loop/Maximum element divisible by four/out/
/Topics/For-loop/Maximum element divisible by four/out/production/classes/
/Topics/For-loop/The count of numbers divisible by N/out/
/Topics/For-loop/The count of numbers divisible by N/out/production/classes/
/Topics/For-loop/The sum of integers from a to b/out/
/Topics/For-loop/The sum of integers from a to b/out/production/classes/
/Topics/Integer types and operations/Arithmetic expression/out/
/Topics/Integer types and operations/Arithmetic expression/out/production/classes/
/Topics/Integer types and operations/Difference of times/out/
/Topics/Integer types and operations/Difference of times/out/production/classes/
/Topics/Integer types and operations/Reversing input numbers/out/
/Topics/Integer types and operations/Reversing input numbers/out/production/classes/
/Topics/Printing data/Digits from 0 to 9 backwards/out/
/Topics/Printing data/Digits from 0 to 9 backwards/out/production/classes/
/Topics/Reading user's input with Scanner/Print strings in the reverse order/out/
/Topics/Reading user's input with Scanner/Print strings in the reverse order/out/production/classes/